.apresentacao {
/*Display stuff*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
/*Box model stuff*/
  padding: 100px 0px;
  background: url(./img/img-background/bg-main-apresentacao.svg);
}

.apresentacao-conteudo {
/*Display stuff*/
  display: flex;
  flex-direction: column;
  grid-column: 1;
  align-items: center;
/*Miscellaneous*/
  gap: 20px;
}

.apresentacao-texto {
/*Display stuff*/
  display: flex;
  flex-direction: column;
/*Box model stuff*/
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
/*Miscellaneous*/
  gap: 20px;
  backdrop-filter: blur(5px);
}

.apresentacao-texto p {
/*Typography stuff*/
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
}

.apresentacao-texto span {
/*Display stuff*/
  display: block;
/*Box model stuff*/
  width: 100%;
  border-right: 4px solid;
/*Typography stuff*/
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--cor-1);
/*Manipulations stuff*/
  animation: typing 2s steps(14), blinking 0.5s infinite step-end alternate;
/*Miscellaneous*/
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

.apresentacao-links {
/*Display stuff*/
  display: grid;
  grid-template-columns: 1fr 1fr;
/*Box model stuff*/
  margin-top: 40px;
/*Miscellaneous*/
  gap: 20px 50px;
}

#curriculo {
/*Display stuff*/
  grid-column: 1/ -1;
/*Box model stuff*/
  width: 100px;
  height: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: var(--cor-1);
/*Typography stuff*/
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: var(--cor-2);
}

#curriculo:hover {
/*Box model stuff*/
  background: var(--cor-2);
/*Typography stuff*/
  color: var(--cor-1);
/*Manipulations stuff*/
  transition: 0.3s;
}

#linkedin {
/*Display stuff*/
  justify-self: center;
/*Box model stuff*/
  padding: 2.5px;
  border: 2px solid black;
  border-radius: 4px;
}

#github {
/*Box model stuff*/
  padding: 2.5px;
  border: 2px solid black;
  border-radius: 4px;
}

.js #linkedin[data-anime="scroll"]  {
/*Manipulations stuff*/
  transform: translate3d(0, -300px, 0);
  opacity: 0;
}

.js #linkedin[data-anime="scroll"].ativo {
/*Manipulations stuff*/
  transform: translate3d(0, 0, 0);
  transition: 1s;
  opacity: 1;
}

.js #github[data-anime="scroll"]  {
/*Manipulations stuff*/
  transform: translate3d(0, -300px, 0);
  opacity: 0;
}

.js #github[data-anime="scroll"].ativo {
/*Manipulations stuff*/
  transform: translate3d(0, 0, 0);
  transition: 1.5s;
  opacity: 1;
}

.js #curriculo[data-anime="scroll"]  {
/*Manipulations stuff*/
  transform: translate3d(0, -300px, 0);
  opacity: 0;
}

.js #curriculo[data-anime="scroll"].ativo {
/*Manipulations stuff*/
  transform: translate3d(0, 0, 0);
  transition: .6s;
  opacity: 1;
}

@media (max-width: 1100px) {
  .apresentacao-texto {
    gap: 10px;
  }

  .apresentacao-texto span {
    font-size: 1.2em;
  }
}

@media (max-width: 700px) {
  .apresentacao {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .foto-perfil {
    display: flex;
    justify-content: center;
  }

  .foto-perfil img {
    height: 500px;
    width: 450px;
  }
}

@media (max-width: 500px) {
.apresentacao {
  padding-bottom: 20px 0px;
}

  .apresentacao-texto p, span , h1 {
    font-size: 1rem;
  }

  .foto-perfil img {
    height: 300px;
    width: 250px;
  }
}
