#contato {
/*Display stuff*/
  display: grid;
/*Box model stuff*/
  background: linear-gradient(180deg, rgb(40, 53, 86) 40%, rgb(30, 41, 74));
/*Typography stuff*/
  text-align: center;
  color: var(--cor-2);
/*Miscellaneous*/
  overflow: hidden;
}

.contato-container {
/*Display stuff*/
  display: inherit;
  grid-template-columns: 1fr 1fr;
/*Box model stuff*/
  padding-bottom: 100px;
}

.contato-texto {
/*Display stuff*/
  display: inherit;
/*Box model stuff*/
  padding: 40px;
/*Miscellaneous*/
  gap: 30px;
}

.contato-texto h1 {
/*Typography stuff*/
  font-family: 'Source Sans 3', 'Helvetica Neue', Arial, sans-serif;
  font-size: 4em;
  font-weight: 600;
  text-align: start;
}

.contato-texto span {
/*Box model stuff*/
  margin-left: 10px;
/*Typography stuff*/
  font-family: 'Noto Sans Georgian', 'Georgia', serif;
  font-size: 2em;
  font-weight: bold;
  font-weight: 300;
  text-align: start;
  color: #63b2bc;
}

.contato-mensagem {
/*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
/*Box model stuff*/
  margin-top: 40px;
/*Miscellaneous*/
  gap: 30px;
}

.contato-mensagem img {
  border-radius: 0;
}

.contato-mensagem h1 {
/*Typography stuff*/
  font-family: 'Source Sans 3', 'Helvetica Neue', Arial, sans-serif;
  font-size: 2em;
  font-weight: 600;
}

.contato-mensagem input {
/*Positioning stuff*/
  position: relative;
/*Box model stuff*/
  width: 400px;
  height: 50px;
  padding: 10px;
  border-radius: 15px;
/*Typography stuff*/
  font-family: 'Noto Sans Georgian', 'Georgia', serif;
  font-size: 1.5em;
  font-weight: 300;
  color: var(--cor-2);
/*Miscellaneous*/
  cursor: pointer;
}

.contato-mensagem button {
/*Positioning stuff*/
  position: absolute;
  right: 20px;
  top: 20px;
/*Box model stuff*/
  width: 35px;
  height: 35px;
  padding: 10px;
  border: none;
  background: url("./img/img-icones/copy.svg") no-repeat center center;
/*Miscellaneous*/
  cursor: pointer;
}

.contato-email {
/*Display stuff*/
  display: flex;
  flex-direction: column;
/*Positioning stuff*/
  position: relative;
/*Miscellaneous*/
  gap: 20px;
}

.contato-mensagem span {
/*Display stuff*/
  display: inline-block;
/*Typography stuff*/
  font-size: 1.2em;
/*Manipulations stuff*/
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.contato-mensagem span.active {
  opacity: 1;
}

.contato-links {
/*Display stuff*/
  display: flex;
  flex-direction: row;
/*Miscellaneous*/
  gap: 15px;
}

@media (max-width: 1100px) {
  .contato-texto {
    padding: 40px;
  }

  .contato-texto h1 {
    font-size: 2.5em;
  }

  .contato-texto span {
    font-size: 1.5em;
  }

  .contato-mensagem h1 {
    font-size: 1.5em;
  }

  .contato-email input {
    font-size: 1.2em;
    width: 320px;
  }

  .contato-mensagem span {
    font-size: 1em;
    right: -40px;
  }
}

@media (max-width: 700px) {
  .contato-container {
    grid-template-columns: 1fr;
    gap: 50px;
    padding-bottom: 50px;
  }

  .contato-texto span,
  .contato-texto h1 {
    text-align: center;
  }

  .contato-texto h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  .contato-texto h1 {
    font-size: 1sem;
  }

  .contato-mensagem h1 {
    font-size: 1.2em;
  }

  .contato-mensagem input {
    font-size: 1em;
    width: 250px;
  }

  .contato-mensagem button {
    right: 0px;
  }
}
