#habilidades {
/*Display stuff*/
  display: grid;
/*Box model stuff*/
  padding: 60px;
  background: rgb(219, 218, 213);
  background: linear-gradient(180deg, rgba(98, 132, 192, 1), rgb(40, 53, 86));
/*Typography stuff*/
  text-align: center;
/*Miscellaneous*/
  overflow: hidden;
}

.habilidades-grid {
/*Display stuff*/
  display: grid;
  grid-template-columns: 1fr 1fr;
/*Typography stuff*/
  font-family: "Source Sans 3", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
/*Miscellaneous*/
  grid-gap: 40px;
}

.habilidades-grid h2 {
  margin-bottom: 40px;
}

.skills-container {
/*Display stuff*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
/*Positioning stuff*/
  position: relative;
  z-index: 1;
/*Box model stuff*/
  max-width: 1000px;
}

.skills-container .card {
/*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
/*Positioning stuff*/
  position: relative;
/*Box model stuff*/
  width: 200px;
  height: 250px;
  margin: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background-color: var(--cor-2);
/*Miscellaneous*/
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.skills-container .card::before {
/*Display stuff*/
  content: "";
/*Positioning stuff*/
  position: absolute;
/*Box model stuff*/
  width: 100%;
  height: 100%;
}

.skills-container .card:hover::before {
/*Manipulations stuff*/
  transform: translateY(-100px);
  transition: 0.5s;
  opacity: 0;
}

.skills-container .card .content {
/*Box model stuff*/
  padding: 20px;
/*Typography stuff*/
  text-align: center;
/*Manipulations stuff*/
  transform: translateY(100px);
  transition: 0.5s;
  opacity: 0;
}

.skills-container .card:hover .content {
/*Typography stuff*/
  font-size: 12px;
/*Manipulations stuff*/
  transform: translateY(0px);
  opacity: 1;
}

.skills-container .card .content h1 {
/*Positioning stuff*/
  position: relative;
/*Box model stuff*/
  margin-bottom: 10px;
  padding: 20px;
/*Typography stuff*/
  font-family: "Source Sans 3", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  color: var(--cor-1);
/*Miscellaneous*/
  pointer-events: none;
}

.skills-container .card .content p {
/*Typography stuff*/
  font-family: 'Noto Sans Georgian', 'Georgia', serif;
  font-size: 1em;
  font-weight: 300;
}

.habilidades-atuais .skills-container .card:nth-child(1)::before {
  background: url(./img/img-skills/html.svg) no-repeat center center;
}

.skills-container .card:nth-child(2)::before {
  background: url(./img/img-skills/css.svg) no-repeat center center;
}

.skills-container .card:nth-child(3)::before {
  background: url(./img/img-skills/javascript.svg) no-repeat center center;
}

.skills-container .card:nth-child(4)::before {
  background: url(./img/img-skills/git.svg) no-repeat center center;
}

.skills-container .card:nth-child(5)::before {
  background: url(./img/img-icones/github.svg) no-repeat center center;
}

.skills-container .card:nth-child(6)::before {
  background: url(./img/img-skills/trello.svg) no-repeat center center;
}

.habilidades-futuras .card:nth-child(1)::before{
  background: url(./img/img-skills/typescript.svg) no-repeat center center;
}

.habilidades-futuras .card:nth-child(2)::before{
  background: url(./img/img-skills/react.svg) no-repeat center center;
}

.habilidades-futuras .card:nth-child(3)::before{
  background: url(./img/img-skills/angularjs.svg) no-repeat center center;
}

@media (max-width: 1200px) {
  #habilidades {
    padding: 60px;
  }

  .skills-container .card {
    width: 100px;
    height: 150px;
  }

  .skills-container .card .content {
    transform: translateY(0px);
    opacity: 1;
  }
  .skills-container .card .content h1,
  .content p {
    display: none;
  }

  .skills-container .card:hover::before {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 700px) {
  #habilidades {
    padding: 20px;
  }
  .habilidades-grid {
    grid-template-columns: 1fr;
  }
}