.header-menu {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--cor-2);
  height: 80px;
  box-shadow: 0px 2px 10px black;
  z-index: 100;
}

#home {
  font-size: 16px;
  margin-left: 40px;
}

.header-menu li {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: var(--cor-1);
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
}

.header-menu li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--cor-1);
  transition: 0.5s ease;
}

.header-links li a:hover::before {
  width: 100%;
}

.lingua {
  cursor: pointer;
}

.lingua::after {
  content: "";
  width: 20px;
  height: 10px;
  display: inline-block;
  background: url(img/img-icones/arrow-black.svg) no-repeat center center;
}

.header-links {
  display: flex;
}

.button {
  content: "";
  width: 28px;
  height: 28px;
  background: url(./img/img-icones/menu.svg) no-repeat center center;
  position: relative;
  margin: 10px;
  border: none;
  cursor: pointer;
  display: none;
}

.button.ativo {
  background: url(./img/img-icones/x.svg) no-repeat center center;
}

.header-links  {
  opacity: 0;
  transform: translate3d(50px, 0, 0);
  animation: moveLeft 1.5s forwards;
}


@keyframes moveLeft {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .button {
    display: flex;
  }

  .header-links {
    display: none;
  }

  .header-links.ativo {
    position: absolute;
    display: block;
    right: 0;
    background-color: var(--cor-2);
    padding: 60px 0 20px 0;
    box-shadow: 3px 2px 2px 0 rgba(0, 0, 0, 0.5);
    top: 0;
  }
}

@media (max-width: 450px) {
  #home {
    font-size: 12px;
    margin-left: 20px;
  }

  .header-menu li {
    font-size: 14px;
    padding: 1em 1em;
  }
}
