.header-menu {
/*Display stuff*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
/*Positioning stuff*/
  position: fixed;
  z-index: 100;
/*Box model stuff*/
  width: 100%;
  height: 80px;
  background: var(--cor-2);
/*Miscellaneous*/
  box-shadow: 0px 2px 10px black;
}

#home {
  font-size: 16px;
  margin-left: 40px;
}

.header-menu li {
/*Positioning stuff*/
  position: relative;
/*Box model stuff*/
  padding: 1em 1.5em;
  border: none;
  background: transparent;
/*Typography stuff*/
  font-size: 17px;
  text-transform: uppercase;
  color: var(--cor-1);
/*Manipulations stuff*/
  transition: 0.5s ease;
}

.header-menu li a::before {
/*Display stuff*/
  content: "";
/*Positioning stuff*/
  position: absolute;
  left: 0;
  bottom: 0;
/*Box model stuff*/
  width: 0;
  height: 2px;
  background-color: var(--cor-1);
/*Manipulations stuff*/
  transition: 0.5s ease;
}

.header-links li a:hover::before {
  width: 100%;
}

.header-menu li a:hover::before {
  width: 100%;
}

.lingua {
  cursor: pointer;
}

.lingua::after {
/*Display stuff*/
  content: "";
  display: inline-block;
/*Box model stuff*/
  width: 20px;
  height: 10px;
  background: url(img/img-icones/arrow-black.svg) no-repeat center center;
}

.header-links {
/*Display stuff*/
  display: flex;
/*Manipulations stuff*/
  animation: moveLeft 1.5s forwards;
  opacity: 0;
}

.header-links .ativo{
  opacity: 1;
  animation: moveLeft .5s forwards;
}

@keyframes moveLeft {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.button {
/*Display stuff*/
  content: "";
  display: none;
/*Positioning stuff*/
  position: relative;
/*Box model stuff*/
  width: 28px;
  height: 28px;
  margin: 10px;
  border: none;
  background: url(./img/img-icones/menu.svg) no-repeat center center;
/*Miscellaneous*/
  cursor: pointer;
}

.button.ativo {
  background: url(./img/img-icones/x.svg) no-repeat center center;
}

@media (max-width: 1100px) {
  .button {
    display: flex;
  }

  .header-links {
    display: none;
  }

  .header-links.ativo {
    position: absolute;
    display: block;
    right: 0;
    background-color: var(--cor-2);
    padding: 60px 0 20px 0;
    box-shadow: 3px 2px 2px 0 rgba(0, 0, 0, 0.5);
    top: 0;
  }
}

@media (max-width: 450px) {
  #home {
    font-size: 12px;
    margin-left: 20px;
  }

  .header-menu li {
    font-size: 14px;
    padding: 1em 1em;
  }
}
