.header-menu {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--cor-2);
  height: 80px;
  box-shadow: 0px 2px 10px black;
  z-index: 100;
}

#home {
  font-size: 16px;
  margin-left: 40px;
}

.header-menu li {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: var(--cor-1);
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
}

.header-menu li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--cor-1);
  transition: .5s ease;
}

.header-links li a:hover::before {
  width: 100%;
}

.lingua {
  cursor: pointer;
} 

.lingua::after {
  content: '';
  width: 20px;
  height: 10px;
  display: inline-block;
  background: url(img/img-icones/arrow-black.svg) no-repeat center center;
}

.header-links {
  display: inherit;
}

.header-links::after {
  content: '';
  width: 28px;
  height: 28px;
  display: block;
  background: url(./img/img-icones/menu.svg) no-repeat center center;
  position: relative;
  top: 12px;
  right: -20px;
}