#projetos {
  display: grid;
  text-align: center;
  overflow: hidden;
  padding-top: 60px;
  background: linear-gradient(
    180deg,
    rgba(98, 132, 192, 1) 100%,
    rgba(219, 218, 213, 1) 0%
  );
}

.projetos-slide {
  display: grid;
  width: 100vw;
  position: relative;
}

.slide {
  display: flex;
  width: 300%;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  width: 50vw;
  max-height: 600px;
  margin: 0 60px;

  border-radius: 15px;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
  position: relative;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background: var(--cor-1) url("./img/img-projetos/arrow.svg") center no-repeat;
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}

[data-control="slide"] {
  display: flex;
  gap: 20px;
  justify-content: center;
}

[data-control="slide"] li {
  background-color: var(--cor-2);
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

[data-control="slide"] li.active {
  background-color: var(--cor-1);
}

.slide li:hover .projetos-hover {
  display: flex;
  transition: .5s;
}

.projetos-hover {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--cor-2);
  backdrop-filter: blur(5px);
  display: none;
  opacity: 0;
}

.slide li.active .projetos-hover:hover{
  display: flex;
  opacity: 1;
  transition: .5s;
}

.projetos-hover h1 {
  font-size: 2rem;
  padding: 40px 0;
  color: var(--cor-2);
}

.projetos-hover p {
  width: 60ch;
}

.facil {
  color: #a9c65a;
  font-weight: 900;
  font-size: 1.2rem;
}

.medio {
  color: #eeee00;
  font-weight: 900;
  font-size: 1.2rem;
}

.dificil {
  color: #c82228;
  font-weight: 900;
  font-size: 1.2rem;
}

.projetos-tech {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}

.projetos-tech-icon {
  display: flex;
}

.projetos-tech-icon img {
  width: 40px;
}

.projetos-links {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.projetos-links a {
  background-color: var(--cor-1);
  padding: 10px;
  border-radius: 5px;
}

@media (max-width:1200px) {
  .projetos-hover {
    gap: 10px;
  }
  .projetos-hover h1{
   padding: 20px 0;
   font-size: 1.2rem;
  }
  .projetos-tech {
    padding-bottom: 0px;
  }
  .projetos-hover p {
    width: 50ch;
    font-size: 12px;
  }
}

@media (max-width:800px) {
  .projetos-hover p {
   display: none;
  }

  .projetos-tech {
    flex-direction: column;
    gap: 10px ;
    justify-content: center;
    align-items: center;
  }

  .projetos-hover h1{
    padding: 5px 0;
    font-size: .8rem;
   }

   .projetos-links a {
    padding: 5px;
   }
}

@media (max-width:560px) {
  .projetos-tech {
    display: none;
  }

  .projetos-links {
    flex-direction: column;
    gap: 5px;
  }

  .projetos-hover {
    display: flex;
    opacity: 1;
    background: none;
    backdrop-filter: blur(0);
  }

  .projetos-hover h1 {
    top: -30px;
    position: relative;
    font-size: 1rem;
  }

  .projetos-links {
    bottom: -80%;
    position: relative;
    flex-direction: row;
  }

  .arrow-nav {
    margin: 60px 0;

  }
 
}
