.sobre-grid {
/*Display stuff*/
  display: grid;
/*Box model stuff*/
  padding-top: 60px;
  background: rgb(219, 218, 213);
  background: linear-gradient(    180deg,    rgba(219, 218, 213, 1) 0%,    rgba(98, 132, 192, 1) 100%  );
/*Miscellaneous*/
  place-items: center;
}

.sobre-container {
/*Positioning stuff*/
  position: relative;
/*Box model stuff*/
  width: 70%;
  height: auto;
}

.sobre-container::after {
/*Display stuff*/
  content: "";
/*Positioning stuff*/
  position: absolute;
/*Box model stuff*/
  width: 2px;
  height: 100%;
  background: var(--cor-1);
}

.sobre-container li {
/*Positioning stuff*/
  position: relative;
  z-index: 99;
/*Box model stuff*/
  width: 50%;
  height: auto;
  margin-bottom: 30px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--cor-2);
/*Manipulations stuff*/
  opacity: 1;
/*Miscellaneous*/
  box-shadow: 1px 1px 25px #000;
}

.js .sobre-container li {
  opacity: 0;
}

.js .sobre-container li:nth-child(odd)[data-anime="scroll"] {
/*Typography stuff*/
  text-align: right;
/*Manipulations stuff*/
  transform: translateX(-60px);
/*Miscellaneous*/
  float: left;
  clear: right;
}

.sobre-container li:nth-child(odd)[data-anime="scroll"] {
/*Typography stuff*/
  text-align: right;
/*Manipulations stuff*/
  transform: translateX(-30px);
/*Miscellaneous*/
  float: left;
  clear: right;
}


.sobre-container li:nth-child(odd)[data-anime="scroll"].ativo {
/*Manipulations stuff*/
  transform: translateX(-30px);
  transition: 0.3s;
  opacity: 1;
}

.js .sobre-container li:nth-child(even)[data-anime="scroll"] {
/*Manipulations stuff*/
  transform: translateX(140px);
/*Miscellaneous*/
  float: right;
  clear: left;
  visibility: hidden;
}

.sobre-container li:nth-child(even)[data-anime="scroll"] {
/*Manipulations stuff*/
  transform: translateX(110px);
/*Miscellaneous*/
  float: right;
  clear: left;
  visibility: visible;
}

.sobre-container li:nth-child(even)[data-anime="scroll"].ativo {
/*Manipulations stuff*/
  transform: translateX(110px);
  transition: 0.3s;
  opacity: 1;
/*Miscellaneous*/
  visibility: visible;
}

.sobre-container li:nth-child(odd) .data {
  right: 20px;
}

.sobre-container li .sobre-titulo {
/*Typography stuff*/
  font-family: 'Source Sans 3', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--cor-1);
}

.sobre-container ul li p {
/*Box model stuff*/
  margin: 25px 0;
/*Typography stuff*/
  font-family: 'Noto Sans Georgian', 'Georgia', serif;
  font-size: 15px;
  color: #444;
/*Miscellaneous*/
  line-height: 23px;
}

.sobre-container ul li .data {
/*Display stuff*/
  display: grid;
/*Positioning stuff*/
  position: absolute;
  top: -40px;
/*Box model stuff*/
  width: 135px;
  height: 35px;
  border-radius: 20px;
  background-color: var(--cor-1);
/*Typography stuff*/
  font-size: 15px;
  color: #fff;
/*Miscellaneous*/
  place-items: center;
}

.sobre-container li .circle {
/*Positioning stuff*/
  position: absolute;
  top: 0;
/*Box model stuff*/
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--cor-2);
}

.sobre-container ul li .circle::after {
/*Display stuff*/
  content: "";
/*Positioning stuff*/
  position: absolute;
  left: 50%;
  top: 50%;
/*Box model stuff*/
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--cor-1);
/*Manipulations stuff*/
  transform: translate(-50%, -50%);
}

.sobre-container li:nth-child(odd) .circle {
  right: -30px;
  transform: translate(50%, -50%);
}

.sobre-container li:nth-child(even) .circle {
  left: -30px;
  transform: translate(-50%, -50%);
}

@media (max-width: 1300px) {
  .sobre-container {
    width: 65%;
  }
}

@media (max-width: 900px) {
  .sobre-grid {
    padding-top: 20px;
  }
  .sobre-container {
    width: 60%;
    transform: translate(15px);
  }

  .sobre-container::after {
    left: -30px;
  }

  .sobre-container ul li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }

  .js .sobre-container li:nth-child(odd)[data-anime="scroll"].ativo {
    transform: translate(0);
    text-align: left;
  }

  .sobre-container li:nth-child(odd)[data-anime="scroll"] {
    transform: translate(0);
    text-align: left;
  }

  .js .sobre-container li:nth-child(odd)[data-anime="scroll"].ativo .data {
    left: 20px;
  }

  .sobre-container li:nth-child(odd)[data-anime="scroll"] .data {
    left: 20px;
  }

  .js .sobre-container li:nth-child(odd)[data-anime="scroll"].ativo .circle {
    left: -30px;
    transform: translate(-50%, -50%);
  }

  .sobre-container li:nth-child(odd)[data-anime="scroll"] .circle {
    left: -30px;
    transform: translate(-50%, -50%);
  }

  .sobre-container li:nth-child(even)[data-anime="scroll"] {
    transform: translateX(-140px);
  }

  .js .sobre-container li:nth-child(even)[data-anime="scroll"].ativo {
    transform: translate(40px);
  }

  .sobre-container li:nth-child(even)[data-anime="scroll"] {
    transform: translate(40px);
  }
}

@media (max-width: 400px) {
  .sobre-container ul li p {
    font-size: 12px;
  }
}
