.sobre-grid {
  display: grid;
  place-items: center;
  padding-top: 60px;
  background: rgb(219, 218, 213);
  background: linear-gradient(
    180deg,
    rgba(219, 218, 213, 1) 0%,
    rgba(98, 132, 192, 1) 100%
  );
}

.sobre-container {
  width: 70%;
  height: auto;
  position: relative;
}

.sobre-container::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: var(--cor-1);
}

.sobre-container li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: var(--cor-2);
  box-shadow: 1px 1px 25px #000;
  border-radius: 10px;
  margin-bottom: 30px;
  z-index: 99;
  position: relative;
  opacity: 0;
}

.sobre-container li:nth-child(odd)[data-anime='scroll'] {
  float: left;
  clear: right;
  transform: translateX(-60px);
  text-align: right;
}

.sobre-container li:nth-child(odd)[data-anime='scroll'].ativo {
  opacity: 1;
  transition: 0.3s;
  transform: translateX(-30px);
}

.sobre-container li:nth-child(even)[data-anime='scroll'] {
  float: right;
  clear: left;
  transform: translateX(140px);
}


.sobre-container li:nth-child(even)[data-anime='scroll'].ativo {
  opacity: 1;
  transition: 0.3s;
  transform: translateX(110px);

}

.sobre-container li:nth-child(odd) .data {
  right: 20px;
}

.sobre-container li .sobre-titulo {
  font-size: 20px;
  font-weight: 500;
  color: var(--cor-1);
}

.sobre-container ul li p {
  font-size: 15px;
  color: #444;
  margin: 25px 0;
  line-height: 23px;
}

.sobre-container ul li .data {
  position: absolute;
  top: -40px;
  background-color: var(--cor-1);
  width: 135px;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 15px;
}

.sobre-container li .circle {
  width: 30px;
  height: 30px;
  background-color: var(--cor-2);
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.sobre-container ul li .circle::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--cor-1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sobre-container li:nth-child(odd) .circle {
  right: -30px;
  transform: translate(50%, -50%);
}

.sobre-container li:nth-child(even) .circle {
  left: -30px;
  transform: translate(-50%, -50%);
}

@media (max-width: 1300px) {
  .sobre-container {
    width: 65%;
  }
}

@media (max-width: 900px) {
  .sobre-grid {
    padding-top: 20px;
  }
  .sobre-container {
    width: 60%;
    transform: translate(15px);
  }

  .sobre-container::after {
    left: -30px;
  }

  .sobre-container ul li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }

  .sobre-container li:nth-child(odd)[data-anime='scroll'].ativo {
    transform: translate(0);
    text-align: left;
  }

  .sobre-container li:nth-child(odd)[data-anime='scroll'].ativo .data {
    left: 20px;
  }

  .sobre-container li:nth-child(odd)[data-anime='scroll'].ativo .circle {
    left: -30px;
    transform: translate(-50%, -50%);
  }

  .sobre-container li:nth-child(even)[data-anime='scroll'].ativo {
    transform: translate(40px);
  }
}

@media (max-width: 400px) {
  .sobre-container ul li p {
    font-size: 12px;
  }
}