.sobre-grid {
  display: grid;
  place-items: center;
  margin-top: 60px;
}

.sobre-h1 {
  position: relative;
  margin-bottom: 80px;
}

.sobre-grid h1::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  background-color: var(--cor-1);
  transform: translateX(-50%);
}

.sobre-container {
  width: 70%;
  height: auto;
  position: relative;
}

.sobre-container::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background: var(--cor-1);
}

.sobre-container li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: var(--cor-2);
  box-shadow: 1px 1px 25px #000;
  border-radius: 10px;
  margin-bottom: 30px;
  z-index: 99;
  position: relative;
}

.sobre-container li:nth-child(odd) {
  float: left;
  clear: right;
  transform: translateX(-30px);
  text-align: right;
}

.sobre-container li:nth-child(odd) .data {
  right: 20px;
}

.sobre-container li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(110px);
}

.sobre-container li :nth-child(4) {
  margin-bottom: 0;
}

.sobre-container li .sobre-titulo {
  font-size: 20px;
  font-weight: 500;
  color: var(--cor-1);
}

ul li p {
  font-size: 15px;
  color: #444;
  margin: 25px 0;
  line-height: 23px;
}

ul li .data {
  position: absolute;
  top: -40px;
  background-color: var(--cor-1);
  width: 135px;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 15px;
}

.sobre-container li .circle {
  width: 30px;
  height: 30px;
  background-color: var(--cor-2);
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.sobre-container ul li .circle::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: var(--cor-1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sobre-container li:nth-child(odd) .circle {
  right: -30px;
  transform: translate(50%, -50%);
}

.sobre-container li:nth-child(even) .circle {
  left: -30px;
  transform: translate(-50%, -50%);
}

@media (max-width:1300px {

})